name: Markdown Check

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - "**/*.md"
  workflow_dispatch:

jobs:
  build:
    name: Markdown Check
    runs-on: ubuntu-latest
    steps:
      - name: Check
        id: check
        run: |
          echo "Checking markdown files for errors..."